---
# Only the main Sass file needs front matter (the dashes are enough)
---

//****************************************************************************

@import "minima";

//****************************************************************************

@mixin block($first-word)
{
  .lede::before
  {
    content:          $first-word + ".";
    font-variant:     small-caps;
    font-style:       normal;
  }

  ol
  {
    list-style-type:  lower-alpha;
  }
}

definition
{
  @include            block("Definition");
}

theorem
{
  @include            block("Theorem");
  font-style:         italic;
}

lemma
{
  @include            block("Lemma");
  font-style:         italic;
}

proof
{
  @include            block("Proof");

  .qed::before
  {
    content:          "▢";
    float:            right;
  }
}

//****************************************************************************
