---
# Only the main Sass file needs front matter (the dashes are enough)
---

//****************************************************************************

@import "minima";

//****************************************************************************

@mixin block($type)
{
  .lede::before
  {
    content:          $type;
    font-variant:     small-caps;
    margin:           0em 2em 0em 0em;
  }
  
  ol
  {
    list-style-type:  lower-alpha;
  }
}

definition
{
  @include            block("Definition");
}

theorem
{
  @include            block("Theorem");

  .lede::before
  {
    font-style:       normal;
  }

  font-style: italic;
}

lemma
{
  @include            block("Lemma");
  
  .lede::before
  {
    font-style:       normal;
  }

  font-style:         italic;
}

proof
{
  @include            block("Proof");
  
  .qed::before
  {
    content:          "▢";
    float:            right;
  }
}


.proof-link
{
  color: red;
}

//****************************************************************************
